.env*
.bundle
*.dump
*.rdb
log/*
tmp/*
tmp/**/*
vendor/bundle/*
!tmp/.gitkeep
db/schema.rb
db/structure.sql
config/environments/development.override.rb
public/system
.DS_Store
**/.DS_Store
config/database.yml
public/assets
profiles/

spec/wip.txt
*.swp

coverage
spec/examples.txt

.idea
*.sublime-workspace
*.tm_properties
TAGS

.rvmrc
.rvmrc*
.ruby-gemset*
.ruby-version.*

*.rbc
.rspec
**.orig

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
